*{
    font-family: "Montserrat";
}

html, body{
    padding: 0;
    margin: 0;
}

/* #dummy{
    width: 500px;
    height: 500px;
    background-color: red; */
    /* position: static; */
    /* position secara default memiliki value static */
    /* position: relative; */
    /* left: 100px; */
    /* top: 0; */
    /* kalau position static kita tidak bisa menggunakan left, right, top, bottom sehingga kita pakai relative dia akan relatif terhadap viewport*/
    /* position: fixed; */
    /* jika menggunakan fixed maka tempatnya hanya sebatas kotak itu doang */
    /* position: sticky; */
    /* position sticky mirip dengan fixed bedanya ketika kita menggunakan position fixed dengan top nilainya nol maka dia akan menempel dengan viewport
    tapi kalau kita menggunakan sticky dia akan reversi tempatnya dan ketika kita scroll akan menyentuh atas viewport jika top nya 0 */
    /* position: relative; */
    /* position absoulte mirip dengan fixed bedanya ketika discroll dia tidak ikut dan dia relatif dengan parentnya */
/* } */

/* #dummy img{
    position: absolute; */
    /* dia akan relatif terhadap parent dalam hal ini dummy yang memiliki position relative */
    /* right :0px;
} */

h1 {
    font-weight: 700;
    font-size: 48px;
    /* font-style: italic; */
    margin: 0 0 16px 0;

}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

section{
    /* background-image: url("https://images.unsplash.com/photo-1707343843598-39755549ac9a?q=80&w=3864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
}

p {
    color: #979797;
    margin: 0 0 16px 0;
    font-size: 24px;
}

section {
    padding: 64px 128px;
}


.btn{
    background-color: #FFC108;
    color: #FFFFFF;
    padding: 8px 24px;
}

.btn-alt{
    background-color: #FFFFFF;
    color: black;
    margin-right: 16px;
    border:2px solid #FFC108;
}

/* atau */

/* .btn{
    background-color: white;
    color: black;
    padding: 8px 24px;
    border:2px solid #FFC108;
}

.btn + .btn{
    background-color: #FFC108;
    color: #FFFFFF;
} */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    /* sticky berfungsi hanya dengan top sama dengan nol */
    top: 0;
    background-color: #FFFFFF;
}

#header h1{
    margin: 0;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#landing p{
    margin-bottom: 32px;
}

#landing > div{
    width: 50%;
}

nav > a{
    /* color: #000; */
    margin-left: 12px;;
}

nav > a:hover{
    color: #FFC108;
}

#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#about > div {
    width: 50%;
}

#about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-stats-item div{
    width: 50px;
    height: 10px;
    background-color: #FFC108;
    margin-bottom: 16px;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h1{
    position: relative;
}
.service-header h1::before{
    content: "";
    /* content perlu ditambahkan jika ada before */
    width: 60px;
    height: 60px;
    background: url("./images/accent1.svg");
    position: absolute;
    left:-20px;
    top: -10px;
    z-index: -1;
}

.service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    margin-top: 72px;
}
.service-detail-item {
    box-shadow: 2px 4px 4px rgba(0,0,0,0.1);
    border-radius: 10px; 
}
.service-detail-item img{
    width: 100%;
}

.service-detail-item h2{
    padding: 0 16px;
}

.service-detail-item p{
    font-size: 16px;
    padding: 0 16px;
}

#contact h1{
    position: relative;
}

#contact > h1::before{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: url("./images/accent2.svg");
    left: -20px;
    top: -10px;
    z-index: -1;
}
.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    column-gap: 128px;
}

form{
    display: flex;
    flex-direction: column;
    border: 3px solid #FFC108;
    padding: 64px 24px;
}

form h1{
    font-size: 32px;
    text-align: center;
}
form button{
    border:none;
}

form button:hover{
    cursor: pointer;
}
.form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px ;
    grid-template-areas: "name subjek"
                        "email phone"
                        "message message";
}

#input-name{
    grid-area: name;
}

#input-subjek{
    grid-area: subjek;
}
#input-email{
    grid-area: email;
}
#input-phone{
    grid-area: phone;
}
#input-message{
    grid-area: message;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-group label{
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 24px;
}

.input-group input{
    border:none;
    outline:none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.input-group input:focus{

    border-bottom: 2px solid #FFC108;
}


footer{
    padding: 16px 128px;
    background-color: #FFC108;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: white;
    width: 50%;
}

.social-icon{
    display: flex;
    gap:32px
}


